/* All elements */

body {
    margin: 24px auto;
    width: 1000px;
    max-width: 90%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

img {
    margin-right: 24px;
    margin-bottom: 24px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    float: left;
}
 
a {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
}

/* Shared classes */

.title {
    font-size: 36px;
    font-family: 'Rufina', serif;
    margin-bottom: 6px;
}

.subtitle {
    margin-bottom: 48px;
}

.header {
    margin-bottom: 48px;
}

.tab {
    margin-right: 48px;
    margin-bottom: 6px;
    display: inline-block;
}

.section-title {
    font-family: 'Rufina', serif;
    font-size: 28px;
    margin-bottom: 48px;
}

.writing {
    line-height: 32px;
    position: relative;
    top: -6px;
}

/* Blog page */

.blog-container {
    margin-bottom: 48px;
}

.blog-title {
    line-height: 32px;
    margin-top: -6px;
    display: inline-block;
    margin-bottom: 18px;
    vertical-align: top;
    font-weight: 500;
}

/* Computational ethics page */

.computational-ethics-description {
    margin-bottom: 48px;
}